/* The visible portion of the header should have a height of 400px and be 100% the width of its parent container
The avatar should be centered vertically and horizontally
The name should be centered below the avatar
The background-color should be a different colour than the nav and the body */

.topHeader {
  display: flex;
  width: 100%;
  height: 520px;
  padding-top: 120px;
  flex-direction: column;
  align-content: flex-end;
  background-color: #85a1e6;
  background-image: url("https://www.transparenttextures.com/patterns/arabesque.png");
  
}

.name {
  display: flex;
  justify-content: center;
  padding-bottom: 3rem;
}

.avatar {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

#first-name {
  display: flex;
  justify-content: center;
  
  font-weight: 700;
}

#last-name {
  display: flex;
  justify-content: center;
  
  font-weight: 300;
}
