/* Change the appearance of the nav based on the following rules:

120 pixels in height
Full width of the viewport
#4056A1 as its default background colour
#FFFFFF as its default font colour
<span> within the <nav> uses Bungee as its default font-family
1.5ems of space on the right and left between the content and the edges */


/* still need to add js position: fixed;*/

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 120px;
  width: 100%;
  top: 0%;
  background-color: #4056A1;
  color: #FFFFFF;
  padding-left: 1.5em;
  padding-right: 1.5em;
  position: fixed;
}

nav > span {
  font-family: "Bungee", sans-serif;
  font-size: 2em;
}

.writeTweet {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Source Sans Pro", sans-serif;
}

 .fa-angle-double-down {
  color: red;
 }
