.tweet-container {
  display: flex;
  flex-direction: column;
  border: 4px solid #5f5c53;
  padding: 0.7em;
  margin: 10px 0px;
}

.tweet-container:hover {
  box-shadow: 10px 10px;
  color: #b4b4b4;
}

hr {
  margin-left: auto;
  margin-right: auto;
  border: 0px;
  border-bottom: 5px solid #545149;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
}

header>div {
  display: flex;
  align-items: center;
}

header>.username {
  color: #b4b4b4;
}

footer>div {
  display: flex;
  justify-content: flex-end;
  font-size: 17px;
}

.fa-flag:hover {
  color: goldenrod;
}

.fa-retweet:hover {
  color: goldenrod;
}

.fa-heart:hover {
  color: goldenrod;
}